<div class="shadow row bg-light mb-5 mt-4 mx-1">
  <a href="{{imgLink}}" *ngIf="imgLink">
    <img src="{{img}}" width="100%">
  </a>
  <img src="{{img}}" width="100%" *ngIf="!imgLink">

  <div class="px-4 pt-5 pb-4">
    <a class="hrefWithoutDecoration" href="{{headerLink}}" target="_blank" *ngIf="headerLink">
      <h2 [innerHTML]="header | safeHtml"> <i class="fa fa-external-link" style="font-size:12px"></i></h2>
    </a>
    <h2 [innerHTML]="header | safeHtml" *ngIf="!headerLink"> <i class="fa fa-external-link" style="font-size:12px"></i></h2>
    <p [innerHTML]="'Last Updated: ' + lastUpdated | safeHtml"></p>
    <p [innerHTML]="content | safeHtml"></p>
    <button type="button" class="btn btn-light btn-outline-dark" (click)="evaluate()" *ngIf="button">{{button}}</button>
  </div>
</div>
